/* Default Style (On Top - Transparent) */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  z-index: 1000;
  transition: all 0.4s ease-in-out;
  background-color: transparent;
}

.header--transparent .header__menu li a {
  color: var(--secondary-color);
}

.header--transparent .header__menu li a:hover {
  color: var(--primary-color);
  opacity: 0.9;
}

.header--sticky {
  background-color: transparent;
  backdrop-filter: blur(10px);
  /* background-color: var(--primary-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0; */
}

.header--sticky .header__menu li a,
.header--sticky .header__menu li.header__auth-btn a {
  color: #fff;
}

.header--sticky .header__menu li a:hover {
  color: #ffee99;
  opacity: 0.9;
}

.header--sticky .header__menu li a.active {
  color: #ffee99;
  border-bottom-color: #ffee99;
}


.header--sticky .header__menu li.header__auth-btn {
  background-color: var(--color-primary);
  border-radius: 50px;
  border: 2px solid var(--color-creamson);
  padding: 2px 16px;
}

.header--sticky .header__menu li.header__auth-btn a {
  color: var(--color-creamson) !important;
}

.header--sticky .header__menu li.header__auth-btn a:hover {
  color: var(--color-primary) !important;
}

.header__nav {
  display: flex;
  max-width: 1320px;
  /* container-lg */
  margin: 0 auto;
  /* Center container */
  width: 100%;
  /* Ensure it remains flexible on small screens */
  padding: 0 20px;
  align-items: center;
}

.header__logo {
  flex: 1;
  display: flex;

  position: relative;
  padding: 20px;
}

.header__logo h4 {
  padding: 5px 30px 5px 30px;

  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--playfair-display);
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 50px;
  opacity: 0.8;
}

.header__menu,
.header__menu-mobile {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;

  list-style: none;
  flex: 1;
  /* Để menu chiếm phần không gian còn lại */
}

.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}

.header__menu li:hover {
  opacity: 0.9;
  transform: scale(1.025);
}

/* Màu mặc định */
.header__menu li a {
  color: var(--secondary-color);
  transition: all 0.3s ease;
}

.header__menu li a.active {
  color: var(--primary-color);
  font-weight: 800;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 6px;
}

.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.header__menu li.header__auth-btn {
  background-color: var(--color-creamson);
  border-radius: 50px;
  border: 1px solid var(--primary-color);
  padding: 2px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.header__menu li.header__auth-btn:hover {
  opacity: 0.9;
  transform: scale(1.025);
}

.header__menu li.header__auth-btn a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.header__menu li.header__auth-btn a:hover {
  color: #fff !important;
}


.header__menu-mobile {
  display: none;
  gap: 20px;

  position: relative;
}